@font-face {
  font-family: "Edwardian Script ITC";
  src: url("../fonts/Edwardian_Script_ITC.ttf") format("truetype"); }
h1, h2, h3, h4, h5, h6 {
  font-family: "Julius Sans One", sans-serif;
  color: #9E0000; }

p, li {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  color: #555; }

p {
  font-size: 1.14285714em;
  /* 16px / 14px*/
  text-align: justify; }

section {
  padding: 5em 0;
  border-bottom: 1px solid #eee; }
  section h2 {
    margin-bottom: 1em;
    text-align: center; }
  section .glyphicon-tint {
    color: #9E0000;
    display: block;
    width: 1em;
    margin: 0 auto 1em; }

a {
  color: #9E0000;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover {
    color: #9E0000;
    text-decoration: none;
    border-bottom: 1px solid #9E0000; }

form {
  margin-top: 2em; }

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 4em 0; }
  footer p {
    text-align: center; }

a.split {
  display: block;
  margin: 0 0 5em; }

.navbar-nav {
  padding-left: 100px; }

/* Removes default colors in navbar */
.navbar-default {
  background-color: transparent;
  border: none;
  /* Link highlight color in navbar */
  /* Removes border from open hamburger */ }
  .navbar-default .navbar-nav > li > a {
    font-family: "Julius Sans One", sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
      background-color: white;
      color: #9E0000; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none; }
  .navbar-default .navbar-toggle {
    border-color: white; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: white; }

.navbar-brand img {
  position: fixed;
  z-index: 100; }

/* Moves text in expanded hamburger to right */
.nav > li {
  text-align: right; }

.background-color {
  /* can be treated like a fallback */
  background-color: #9E0000;
  /* will be "on top", if browser supports it */
  background-image: linear-gradient(45deg, #360000, #FF4545);
  /* these will reset other properties, like background-position, but it does know what you mean */
  background: #9E0000;
  background: linear-gradient(45deg, #360000, #FF4545); }

.jumbotron {
  background-color: transparent;
  height: 100vh;
  color: white;
  padding: 5em 0 7em; }
  .jumbotron h1 {
    color: white;
    font-size: 10vh; }
    @media screen and (min-width: 425px) {
      .jumbotron h1 {
        font-size: 15vh; } }
  .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6, .jumbotron p {
    color: #ff9191; }
  .jumbotron h2 {
    font-size: 4vh; }
  .jumbotron h3 {
    font-size: 3vh; }
  .jumbotron p {
    font-size: 2.5vh; }
    @media screen and (min-height: 425px) {
      .jumbotron p {
        font-size: 3vh; } }
  .jumbotron * {
    text-align: center; }

#home-jumbo .jumbotron time {
  color: white;
  display: inline-block;
  padding: 0.5em;
  border: 2px solid white;
  letter-spacing: 0.1em; }

#donnez-jumbo .jumbotron img, #donnez-drop img {
  height: 25vh; }
  @media screen and (max-width: 768px) {
    #donnez-jumbo .jumbotron img, #donnez-drop img {
      height: 25vh; } }

#donnez-jumbo .jumbotron h2 {
  color: white; }

#donnez-drop * {
  text-align: center; }
#donnez-drop time {
  color: #9E0000; }

.carousel-control.right, .carousel-control.left {
  background-image: none; }

.emdash::before {
  content: "\2014\00a0"; }
.emdash::after {
  content: "\00a0\2014"; }

.script-font {
  font-family: "Edwardian Script ITC", "Julius Sans One", Times, serif; }

.image {
  float: left;
  margin: 1em;
  padding: 2px;
  background-color: white;
  background-image: url("../img/bios.png");
  border: 2px solid #9E0000;
  border-radius: 50%;
  width: 125px;
  height: 125px; }

.laurette {
  background-position: 0px 0px; }

.pierre {
  background-position: 0px -126px; }

.philippe {
  background-position: 0px -252px; }

.panel {
  background-color: #9E0000;
  border: none; }
  .panel p {
    color: white;
    text-align: center; }

#panel-3 {
  background-color: #9E0000; }

#panel-2 {
  background-color: rgba(158, 0, 0, 0.8); }

#panel-1 {
  background-color: rgba(158, 0, 0, 0.6); }

.panel-body li,
.panel-heading h4,
.panel-heading h5 {
  color: white; }

.panel-heading {
  text-align: center; }

.panel-body a {
  color: white; }
  .panel-body a:focus, .panel-body a:hover {
    color: white; }

.btn-default:hover {
  color: white;
  background-color: #9E0000;
  border-color: #9E0000; }

.thumbnail {
  padding: 1em;
  text-align: center;
  border: 1px solid transparent; }
  .thumbnail p {
    text-align: center; }

a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover {
  border-color: #9E0000;
  cursor: pointer;
  text-decoration: none; }

.contact p {
  text-align: center; }

.social-links {
  margin-bottom: 2em; }
  .social-links a {
    color: #555; }
  .social-links a:hover {
    color: #9E0000;
    cursor: pointer;
    border-bottom: none; }
  .social-links i {
    margin: 0.25em; }

.pad-right {
  padding-right: 1em; }

.pad-vertical {
  margin: 2em 0; }

.center-text {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
