h1, h2, h3, h4, h5, h6 {
  font-family: 'Julius Sans One', sans-serif;
  color: #9E0000; }

p, div {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #555; }

p {
  text-indent: 1em;
  text-align: justify; }

section {
  padding-bottom: 4em;
  border-bottom: 1px solid #eee; }
  section h2 {
    margin-bottom: 1em;
    text-align: center; }
  section .glyphicon-tint {
    color: #9E0000;
    display: block;
    width: 1em;
    margin: 0 auto 1em; }

form {
  margin-top: 2em; }

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 4em 0; }
  footer p {
    text-align: center; }

a.split {
  display: block;
  margin: 0 0 5em; }

/* Removes default colors in navbar */
.navbar-default {
  background-color: transparent;
  border: none;
  /* Link highlight color in navbar */
  /* Removes border from open hamburger */ }
  .navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 14px; }
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: white;
    color: #9E0000; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none; }

.navbar-brand img {
  position: fixed;
  z-index: 100; }

/* Moves text in expanded hamburger to right */
.nav > li {
  text-align: right; }

.background-color {
  /* can be treated like a fallback */
  background-color: #9E0000;
  /* will be "on top", if browser supports it */
  background-image: linear-gradient(45deg, #780000, #ff6666);
  /* these will reset other properties, like background-position, but it does know what you mean */
  background: #9E0000;
  background: linear-gradient(45deg, #780000, #ff6666); }

.jumbotron {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 5em 0 7em; }
  .jumbotron h1 {
    color: white; }
    .jumbotron h1 small {
      color: #ff9191; }
  .jumbotron p {
    font-family: 'Julius Sans One', sans-serif;
    color: #ff9191;
    text-align: center; }
  .jumbotron time {
    display: inline-block;
    color: white;
    letter-spacing: 0.1em;
    font-size: 1.25em;
    padding: 0.5em;
    border: 2px solid white; }

.location::before {
  content: "\2014\00a0"; }
.location::after {
  content: "\00a0\2014"; }

.bio img {
  float: left;
  margin: 1em;
  padding: 2px;
  background-color: white;
  border: 2px solid #9E0000; }

a,
a p {
  color: #9E0000; }

a:hover {
  color: #9E0000; }

.panel {
  background-color: #9E0000;
  border: none; }

.panel p {
  color: white;
  text-align: center; }

#panel-3 {
  background-color: #9E0000; }

#panel-2 {
  background-color: rgba(158, 0, 0, 0.8); }

#panel-1 {
  background-color: rgba(158, 0, 0, 0.6); }

.panel-body li,
.panel-heading h4,
.panel-heading h5 {
  color: white; }

.panel-heading h5 {
  text-align: center; }

.panel-heading p {
  text-align: center;
  text-indent: 1em; }

.panel-body a {
  color: white; }

.panel-group {
  margin: 2em 0; }

.btn-default:hover {
  color: white;
  background-color: #9E0000;
  border-color: #9E0000; }

.contact a p {
  text-align: center; }

.social-links {
  margin-bottom: 2em; }
  .social-links a {
    color: #555; }
  .social-links a:hover {
    color: #9E0000;
    cursor: pointer; }
  .social-links i {
    margin-left: 0.25em;
    margin-right: 0.25em; }

/*# sourceMappingURL=styles.css.map */
