@font-face {
  font-family: "Edwardian Script ITC";
  src: url("../fonts/Edwardian_Script_ITC.ttf") format('truetype');
}

$primary-color: #9E0000;
$secondary-color: #555;

$script-font: 'Edwardian Script ITC', 'Julius Sans One', Times, serif;
$heading-font: 'Julius Sans One', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$small-text: 14px;

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    color: $primary-color;
}
p, div {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 1.5em;
    color: $secondary-color;
}
p {
    text-align: justify;
}
section {
    padding-bottom: 4em;
    border-bottom: 1px solid #eee;
    h2 {
        margin-bottom: 1em;
        text-align: center;
    }
    .glyphicon-tint {
        color: $primary-color;
        display: block;
        width: 1em;
        margin: 0 auto 1em;
    }
}
a,
a p {
    color: $primary-color;
    // overwrites Bootstrap's text decoration color on focus and hover
    &:focus,
    &:hover {
        color: $primary-color;
    }
}
form {
    margin-top: 2em;
}
footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 4em 0;
    p {
        text-align: center;
    }
}
a.split {
    display: block;
    margin: 0 0 5em;
}
/* Removes default colors in navbar */
.navbar-default {
    background-color: transparent;
    border: none;
    /* Link highlight color in navbar */
    .navbar-nav>li>a {
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 14px;
        &:focus,
        &:hover {
            background-color: white;
            color: $primary-color;
        }
    }
    /* Removes border from open hamburger */
    .navbar-collapse,
    .navbar-form {
        border: none;
    }
    .navbar-toggle {
        border-color: white;
        &:focus,
        &:hover {
            background-color: transparent;
        }
        .icon-bar {
            background-color: white;
        }
    }
}
.navbar-brand img {
    position: fixed;
    z-index: 100;
}
/* Moves text in expanded hamburger to right */
.nav>li {
    text-align: right;
}
.background-color {
    /* can be treated like a fallback */
    background-color: $primary-color;

    /* will be "on top", if browser supports it */
    background-image: linear-gradient(45deg, #780000, #ff6666);

    /* these will reset other properties, like background-position, but it does know what you mean */
    background: $primary-color;
    background: linear-gradient(45deg, #780000, #ff6666);
}
.jumbotron {
    background-color: transparent;
    min-height: 100vh;
    color: white;
    text-align: center;
    padding: 5em 0 7em;
    h1 {
        color: white;
        &.script-font {
            font-family: $script-font;
            font-size: 6em;
            @media screen and (max-width: 320px) {
                font-size: 5em;
            }
        }
        small {
            color: #ff9191;
        }
    }
    p {
        font-family: $heading-font;
        color: #ff9191;
        text-align: center;
    }
    time {
        display: inline-block;
        color: white;
        letter-spacing: 0.1em;
        font-size:  1.25em;
        padding: 0.5em;
        border: 2px solid white;
    }
}
.location {
    &::before {
        content: "\2014\00a0";
    }
    &::after {
        content: "\00a0\2014";
    }
}
.image {
    float: left;
    margin: 1em;
    padding: 2px;
    background-color: white;
    background-image: url("../img/bios.png");
    border: 2px solid $primary-color;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}
.laurette {
    background-position: 0px 0px;
}
.pierre {
    background-position: 0px -126px;
}
.philippe {
    background-position: 0px -252px;
}
.panel {
    background-color: $primary-color;
    border: none;
    p {
        color: white;
        text-align: center;
    }
}
#panel-3 {
    background-color: $primary-color;
}
#panel-2 {
    background-color: transparentize($primary-color, .2);
}
#panel-1 {
    background-color: transparentize($primary-color, .4);
}
.panel-body li,
.panel-heading h4,
.panel-heading h5 {
    color: white;
}
.panel-heading {
    text-align: center;
}
.panel-body a {
    color: white;
    &:focus,
    &:hover {
        color: white;
    }
}
.btn-default:hover {
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;
}
.thumbnail {
    padding: 1em;
    text-align: center;
    border: 1px solid transparent;
    p {
        text-align: center;
    }
}
a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover {
    border-color: $primary-color;
    cursor: pointer;
    text-decoration: none;
}
.contact {
    p {
        text-align: center;
    }
}
.social-links {
    margin-bottom: 2em;
    a {
        color: $secondary-color;
    }
    a:hover {
        color: $primary-color;
        cursor: pointer;
    }
    i {
        margin: 0.25em;
    }
}
.pad-right {
    padding-right: 1em;
}
.pad-vertical {
    margin: 2em 0;
}
.center-text {
    text-align: center;
}
