$primary-color: #9E0000;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Julius Sans One', sans-serif;
    color: $primary-color;
}
p, div {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #555;
}
p {
    text-indent: 1em;
    text-align: justify;
}
section {
    padding-bottom: 4em;
    border-bottom: 1px solid #eee;
    h2 {
        margin-bottom: 1em;
        text-align: center;
    }
    .glyphicon-tint {
        color: $primary-color;
        display: block;
        width: 1em;
        margin: 0 auto 1em;
    }
}
form {
    margin-top: 2em;
}
footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 4em 0;
    p {
        text-align: center;
    }
}
a.split {
    display: block;
    margin: 0 0 5em;
}
/* Removes default colors in navbar */
.navbar-default {
    background-color: transparent;
    border: none;
    /* Link highlight color in navbar */
    .navbar-nav>li>a {
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 14px;
    }
    .navbar-nav>li>a:focus,
    .navbar-nav>li>a:hover {
        background-color: white;
        color: $primary-color;
    }
    /* Removes border from open hamburger */
    .navbar-collapse,
    .navbar-form {
        border: none;
    }
}
.navbar-brand img {
    position: fixed;
    z-index: 100;
}
/* Moves text in expanded hamburger to right */
.nav>li {
    text-align: right;
}
.background-color {
    /* can be treated like a fallback */
    background-color: $primary-color;

    /* will be "on top", if browser supports it */
    background-image: linear-gradient(45deg, #780000, #ff6666);

    /* these will reset other properties, like background-position, but it does know what you mean */
    background: $primary-color;
    background: linear-gradient(45deg, #780000, #ff6666);
}
.jumbotron {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 5em 0 7em;
    h1 {
        color: white;
        small {
            color: #ff9191;
        }
    }
    p {
        font-family: 'Julius Sans One', sans-serif;
        color: #ff9191;
        text-align: center;
    }
    time {
        display: inline-block;
        color: white;
        letter-spacing: 0.1em;
        font-size:  1.25em;
        padding: 0.5em;
        border: 2px solid white;
    }
}
.bio img {
    float: left;
    margin: 1em;
    padding: 2px;
    background-color: white;
    border: 2px solid $primary-color;
}
.container a,
.container a p {
    color: $primary-color;
}
.container a:hover {
    color: $primary-color;
}
.panel {
    background-color: #ff4545;
    border: none;
}
.panel p {
    color: white;
    text-align: center;
}
#panel-3 {
    background-color: $primary-color;
}
#panel-2 {
    background-color: #FA0808;
}
#panel-1 {
    background-color: #ff4545;
}
.panel-body li,
.panel-heading h4,
.panel-heading h5 {
    color: white;
}
.panel-heading h5 {
    text-align: center;
}
.panel-heading p {
    text-align: center;
    text-indent: 1em;
}
.panel-body a {
    color: white;
}
.panel-group {
    margin: 2em 0;
}
.btn-default:hover {
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;
}
.contact a p {
    text-align: center;
}
.social-links {
    margin-bottom: 2em;
    a {
        color: #555;
    }
    a:hover {
        color: $primary-color;
        cursor: pointer;
    }
    i {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
}
